:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.sign-up-link {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  margin-left: auto;
}

