<mat-toolbar color='primary'>
  <button mat-icon-button class="menu-icon" aria-label="toggle menu button with icon" (click)='toggleSideNav()'>
    <mat-icon>menu</mat-icon>
  </button>

  <span>Shop</span>

  <div class='user-menu' *ngIf='auth.user() as user'>
    <button mat-raised-button color='warn' class='admin-btn' routerLink='/admin'>Admin</button>

    <button mat-button [matMenuTriggerFor]="menu">{{user.emails[0]}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item >Account</button>
      <button mat-menu-item (click)="signOut()">Sign Out</button>
    </mat-menu>

  </div>

</mat-toolbar>

<mat-sidenav-container class='side-nav-container'>
  <mat-sidenav [opened]="isSideNavOpened()" class='side-nav'>
    <router-outlet name='nav'/>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet name='content'/>
  </mat-sidenav-content>
</mat-sidenav-container>
